.container {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  height: 100vh;
  background-color: #1b263b;
}
.counter {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
